* {
    margin: 0;
    padding: 0;
}
#div1 {
    color: red;
    background-color: aquamarine;
}
#div2 {
    background-color: rgb(255, 0, 0);
}
#div3 {
    background-color: #cdbaba;
}
#box1 {
    background-color: red;
    text-align: center;
    text-decoration: overline;
}
#box2 {
    background-color: green;
    text-align: right;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: aqua;
}
#box3 {
    background-color: blue;
    text-align: left;
    text-decoration: line-through;
}
#box4 {
    background-color: yellow;
    height: 50px;
    width: 50px;
    visibility: visible;
}

#box5 {
    height: 700px;
    width: 700px;
    background: blue url('myntra-Logo-PNG.webp') no-repeat center; 
    /* background short hand property */
}
.box {
    height: 50px;
    width: 100px;
    background-image: url('myntra-Logo-PNG.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#link {
    text-decoration: none;
}
#box6 {
    text-transform: uppercase;
    line-height: 6px;
}

#box7 {
    line-height: 50px;
}

.article {
    line-height: 15px;
    font-size: 10px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}