/* h1 {
    color: blue;
}
p {
    color: green;
} */
/* * {
    color: brown;
} */
.firstClass p, #firstId p, #secondId p {
    color: blue;
}
p {
    color : aqua;
}
/* #firstId {
    color: red;
} */